#average
	.g-axis
		line
			stroke-opacity 0.33
			stroke $bg-invert
			stroke-width 0.4em
			stroke-dasharray 0.8em
		path
			display none
		text
			opacity 0
	.foul
		circle
			stroke $fg
			fill $bg
			stroke-opacity 0.5
			stroke-width 0.15em
	
		text
			fill $fg
			fill-opacity 0.5
	
		&.is-highlight
			circle
				fill $primary
				stroke-opacity 1
			text
				fill $fg
				fill-opacity 1
			
	.quarter
		fill $secondary
		font-weight 900
		letter-spacing 0.01em
		font-size 1.25em
	
	.observe
		position absolute
		bottom -5%
		left 0
		width 100%
		text-align center
		font-weight 900
		letter-spacing 0.01em
		color $secondary
		font-size 1.25em
		text-transform uppercase
		line-height 1


