#intro
	h1
		padding 5%
		font-weight 900
		font-size 2em
		line-height 1
		text-transform uppercase
		text-align center
		position absolute
		top 50%
		transform translateY(-50%)
		left 0
		width 100%
		opacity 1
	
	p
		font-size 0.75em

	.flipbook
		width 50%