#outro
	.flipbook
		position absolute
		top 50%
		left 50%
		width 66.7%
		// border-style solid
		// border-color $bg
		transform translate(-50%, -50%)
		&.is-visible
			visibility visible
		img
			width 100%

	.tick	
		position absolute
		left 0
		width 100%
		opacity 0
		text-align center
		font-weight 900
		letter-spacing 0.01em
		color $secondary
		font-size 1.25em
		text-transform uppercase
		line-height 1.6
		span
			background-color $secondary
			display inline-block
			border-radius 50%
			width 1.5em
			height 1.5em
			vertical-align middle
			