#outro
	.flipbook
		position absolute
		top 50%
		left 50%
		width 90%
		overflow hidden
		transform translate(-50%, -50%)
	
	#flipbook-point
		img
			transform-origin 50% 50%
			width 100%
			transform translate(0,0) scale(1)

	#flipbook-nurse
		width 32.5%
		border-radius 50%
		top 50%
		left 132.5%
		visibility hidden
		border 0.25em solid $white
		&.is-visible
			visibility visible

	.tick	
		position absolute
		left 0
		width 100%
		opacity 0
		text-align center
			
	
	.intertitle
		opacity 0

	.observe
		position absolute
		top 16%
		left 5%
		width 90%
		text-align center
		span
			font-size 1.25em
			font-weight 400
			text-transform uppercase
			line-height 1
			font-family $sans-display
			background-color $secondary
			color $white
			padding 0.25em 0.5em
			
.is-square #outro
	.flipbook
		width 50%
