#outro
	.flipbook
		position absolute
		top 50%
		left 50%
		width 90%
		overflow hidden
		transform translate(-50%, -50%)
	
	#flipbook-point
		img
			transform-origin 50% 50%
			width 100%
			transform translate(0,0) scale(1)

	#flipbook-jimmy
		transform translate(-50%, 50%)
		top auto
		visibility hidden
		border 0.25em solid $white
		&.is-visible
			visibility visible

	.tick	
		position absolute
		left 0
		width 100%
		opacity 0
		text-align center
			
	
	.intertitle
		opacity 0

.is-square #outro
	.flipbook
		width 60%