#question
	.flipbook
		position absolute
		top 50%
		left 50%
		width 90%
		overflow hidden
		transform translate(-50%, -50%)
	
	#flipbook-harden
		img
			transform-origin 50% 50%
			width 100%
			transform translate(0,0) scale(1)