#report
	figure
		display flex
		flex-wrap wrap
		align-items flex-start
		align-content flex-start
		justify-content flex-start
		padding-left 8%
		img
			width 12%
			height auto
			display block
			margin 0.08em 0.1em 
			opacity 0

	.flipbook
		position absolute
		overflow hidden
		visibility hidden
		transform-origin 50% 50%
		&.is-visible
			visibility visible
		img
			width 100%
		
	#flipbook-l2m
		img
			transform-origin 50% 100%
			transform scale(1.01)