#report
	figure
		display flex
		flex-wrap wrap
		align-items flex-start
		align-content flex-start
		justify-content flex-start
		padding 0 2.5%
		img
			width 14.25%
			height auto
			display block
			border-style solid
			border-color $bg
			opacity 0

	.flipbook
		position absolute
		overflow hidden
		border-style solid
		border-color $bg
		visibility hidden
		transform-origin 50% 50%
		&.is-visible
			visibility visible
		img
			width 100%