#report
	figure
		display flex
		flex-wrap wrap
		align-items flex-start
		align-content flex-start
		justify-content flex-start
		top 5%
		padding 0 2.5%
		transform-origin 50% 50%
		
	img
		width 14.25%
		height auto
		display block
		border-style solid
		border-color $bg
		// &.is-special
		// 	visibility hidden

	.flipbook
		position absolute
		overflow hidden
		border-style solid
		border-color $bg
		visibility hidden
		transform-origin 50% 50%
		&.is-visible
			visibility visible
		img
			width 100%