#stickers
	position absolute
	top 0
	left 0
	width 100%
	height 100%

	img
		position absolute
		z-index set-index(top)

#lance
	width 20%
	right -5%

#lebron
	width 40%
	right -8%
	top 18%
		
#harden
	width 22%
	bottom 150%
	right 4.5%
	transform translateY(-37%) rotate(3deg)

#dirk
	width 12.5%
	bottom 44%
	left -12.5%
	// left 50.5%

#wade
	width 20%
	bottom 38%
	right -20%
	// right 7.5%


.is-square
	#dirk
		bottom 40%
	#wade
		bottom 30%
