/* CUSTOM STORY STYLE */
body
	background-color limegreen
	font-family $sans-display

h1, p
	margin 0
	padding 0 5%
	width 100%
	line-height 1
	font-weight 900
	position absolute
	top 0
	left 0
	text-align center

p
	line-height 1.2
	top auto
	bottom 5%
	
main
	position relative
	overflow hidden
	background-color $bg

section
	position absolute
	top 0
	left 0
	width 100%
	height 100%
	&.is-hidden
		hidden(invisible)

figure
	position absolute
	top 0
	left 0

svg
	display block
	width 100%
	height 100%

svg text
	font-family $sans-display
	font-weight 900
	text-transform uppercase

