/* CUSTOM STORY STYLE */
body
	background-color $bg-invert
	font-family $sans-display

	
main
	position relative
	overflow hidden
	background-color $bg

section
	position absolute
	top 0
	left 0
	width 100%
	height 100%

	h1, p
		margin 0
		padding 0 5%
		width 100%
		line-height 1
		position absolute
		top 0
		left 0
		text-align center
		opacity 0

	h1
		font-weight 900
	p
		font-weight 700
		line-height 1.25
		top auto
		bottom 5%
		background-color rgba($white, 0.5)
		max-width 90%
		padding 2.5%
		left 5%
		
figure
	position absolute
	top 0
	left 0

svg
	display block
	width 100%
	height 100%

svg text
	font-family $sans-display
	font-weight 700
	text-transform uppercase
	fill $bg-invert

em
	color $primary-dark