#time
	.minute
		// stroke $fg
		// stroke-width $stroke-width
		fill $secondary

	.quarter
		rect
			fill $secondary
	
		text
			fill $secondary
			font-family $sans-display
			font-weight 400
			font-size 2em
	
	.observe
		position absolute
		top 5%
		left 5%
		width 90%
		text-align center
		span
			font-size 1.25em
			font-weight 400
			text-transform uppercase
			line-height 1
			font-family $sans-display
			background-color $secondary
			color $white
			padding 0.25em 0.5em

.is-square #time
	.intertitle
		em
			margin-top 2rem
	
	.observe
		top 7.5%