#time
	.g-axis
		line
			stroke-dasharray 8px 8px
			stroke-opacity 0.33
			stroke-width 2px
		path
			display none
		
	.minute
		stroke $fg
		stroke-width $stroke-width
		fill $primary

	.quarter
		rect
			fill $secondary
	
		text
			fill $secondary
			font-weight 900
			letter-spacing 0.01em
			font-size 1.25em