#time
	.minute
		// stroke $fg
		// stroke-width $stroke-width
		fill $secondary

	.quarter
		rect
			fill $secondary
	
		text
			fill $secondary
			font-family $sans-display
			font-weight 400
			font-size 2em